<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="landingpage.component.css" />
  <title>StudentVZ</title>


</head>
<body>
<nav id="nav">
  <div class="navTop" >
    <div class="navItem">
      <img src="assets/img/1.jpg" alt="mmhm not there "width="200" height="150" >
    </div>


  </div>
  <div class="navBottom">
    <a href="/login" ><h3 class="menuItem">Anmelden</h3></a>
    <a href="/register" ><h3 class="menuItem">Registieren</h3></a>
    <a href="/support" ><h3 class="menuItem">Support</h3></a>


  </div>
</nav>
<div class="slider" >
  <div class="sliderWrapper">




  </div>
  <div class="sliderItem" >
    <img src="assets/img/logo.jpg" alt="" class="sliderImg" >
    <div class="sliderBg"></div>



  </div>

</div>


<div class="features">
  <div class="feature">
    <img src="assets/img/3.jpg" class="featureIcon">
    <span class="featureTitle">Nachrichten</span>
    <span class="featureDesc">Kommunziere mit deinen Komollitionen</span>
  </div>
  <div class="feature">
    <img src="assets/img/2.jpg" class="featureIcon" alt="">
    <span class="featureTitle">Kostenlos</span>
    <span class="featureDesc">Keine weiteren Kosten durch sponsoring</span>
  </div>
  <div class="feature">
    <img src="assets/img/4.jpg" class="featureIcon">
    <span class="featureTitle">Datentransfer</span>
    <span class="featureDesc">teile deine Mitschriebe und Infos aus</span>
  </div>
  <div class="feature">
    <img src="assets/img/5.jpg" class="featureIcon">
    <span class="featureTitle">Kontaktiere uns</span>
    <span class="featureDesc">Bei fragen melde dich gerne</span>
  </div>
</div>

<div class="product" id="product" >
  <img src="C:\Users\simon.a.fischer\OneDrive - Accenture\Pictures\Screenshots\Screenshot (22).png" alt="mmmmmh" class="productImg">
  <div class="productDetails">
    <h1 class="productTitle" >StudentVZ</h1>

    <p class="productDesc">Willkommen zu StudentVZ: Deiner Social Media Plattform für den universitären Austausch!

      StudentVZ ist die ultimative Social Media App, die speziell für Studenten entwickelt wurde, um den Austausch von Informationen, Dokumenten und Nachrichten zu erleichtern.</p>


  </div>

</div>





<footer>
  <div class="footerLeft" >
    <div class="footerMenu" >
      <h1 class="fMenuTitle">Our Team</h1>
      <ul class="fList">
        <li class="fListItem">Florian Ruffner</li>
        <li class="fListItem">Simon Fischer</li>
        <li class="fListItem">Florian Kraft</li>
        <li class ="fListItem">Nandor Varga</li>

      </ul>
    </div>
    <div class="footerMenu" >
      <h1 class="fMenuTitle">Useful Links</h1>
      <ul class="fList">
        <li><a href="/login" ><h3 class="menuItem">Anmelden</h3></a></li>
        <li><a href="/register" ><h3 class="menuItem">Registieren</h3></a></li>
        <li><a href="/support" ><h3 class="menuItem">Support</h3></a></li>

      </ul>
    </div><div class="footerMenu" >

  </div>
  </div>
  <div class="footerRight" >
    <img src="assets/img/1.jpg" alt="mmhm not there "width="150" height="150" >

  </div>
</footer>

<script src="script.js"></script>

</body>
</html>
